@import "tailwindcss";

.custom-scrollbar {
  scrollbar-width: thin !important;
  scrollbar-color: rgba(51, 68, 80, 0.611) transparent !important;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px !important;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent !important;
  margin: 8px 0 !important;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(34, 197, 94, 0.4) 0%,
    rgba(16, 185, 129, 0.4) 100%
  ) !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.05) !important;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    rgba(34, 197, 94, 0.6) 0%,
    rgba(16, 185, 129, 0.6) 100%
  ) !important;
}
.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background: linear-gradient(
    180deg,
    rgba(34, 197, 94, 0.8) 0%,
    rgba(16, 185, 129, 0.8) 100%
  ) !important;
}

@theme {
  --animate-gradient-flow: gradient-flow 4s ease-in-out infinite;
  --animate-ring-shake: ring-shake 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    infinite;
  --animate-ring-expand: ring-expand 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes gradient-flow {
    0% {
      background-position: 0% 100%;
    }
    50% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 0% 100%;
    }
  }

  @keyframes ring-shake {
    0%,
    100% {
      transform: rotate(0deg) scale(1);
    }
    25% {
      transform: rotate(-2deg) scale(1.02);
    }
    50% {
      transform: rotate(2deg) scale(1.02);
    }
    75% {
      transform: rotate(-2deg) scale(1.02);
    }
  }

  @keyframes ring-expand {
    0% {
      transform: scale(0.7);
      opacity: 1;
    }
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }
}
