@import "tailwindcss";

@theme {
  --animate-heartbeat: heartbeat 3s ease-in-out infinite;

  @keyframes heartbeat {
    0%,
    100% {
      transform: scale(1);
    }
    25% {
      transform: scale(1);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.025);
    }
  }
}
