@import "tailwindcss";

@theme {
  --animate-gradient-flow: gradient-flow 4s ease-in-out infinite;

  @keyframes gradient-flow {
    0% {
      background-position: 0% 100%;
    }
    50% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 0% 100%;
    }
  }
}
